<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Node - Contact</title>
</head>

<body>
    <main class="cont">
        <section class="nav">
            <h1 class="heading">NodeJS</h1>
            <div class="toggle">
                <a class="home" href="home">Home</a>
                <a class="product" href="product">Product</a>
                <a class="contact selected" href="contact">Contact</a>
            </div>
        </section>

        <section class="desc">
            <h1>NodeJS - Contact Page</h1>
            <div class="counter"></div>
        </section>
    </main>
</body>

</html>